<div class="register-section-container section">
  <app-section-title title="Registration"></app-section-title>
  <!-- Info Panel -->
  <div class="info-panel-container section">
    <div class="section-row">
      <div class="info-panel-item" *ngFor="let item of panelItems">
        <div class="title">
          {{item.title}}
        </div>
        <div class="item-body">
          <div class="icon lg">
            <fa-icon [icon]="item.icon"></fa-icon>
          </div>
          <div class="subtitle">
            {{item.content}}
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="form-container">
    <div class="form-group">
      <div class="input-group">
        <label for="username">Username</label>
        <input name="username" type="text" class="lg" />
      </div>
      <div class="input-group">
        <label for="city">City</label>
        <input name="city" type="text" class="lg" />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <label for="name">Name</label>
        <input name="name" type="text" class="lg" />
      </div>
      <div class="input-group">
        <label for="rideInGroup">Ride In Group?</label>
        <input name="rideInGroup" type="text" class="lg" />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <label for="email">E-mail</label>
        <input name="email" type="text" class="lg" />
      </div>
      <div class="input-group">
        <label for="daysOfTheWeek">Days of the Week</label>
        <input name="daysOfTheWeek" type="text" class="lg" />
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success" type="input">Save</button>
      <button class="btn btn-secondary "type="input">Discard</button>
    </div>
  </div>
</div>