<div class="register-section-container section">
  <app-section-title title="Registration"></app-section-title>
  <!-- Info Panel -->
  <div class="info-panel-container section">
    <div class="section-row">
      <div class="info-panel-item" *ngFor="let item of panelItems">
        <div class="title">
          {{item.title}}
        </div>
        <div class="item-body">
          <div class="icon lg">
            <fa-icon [icon]="item.icon"></fa-icon>
          </div>
          <div class="subtitle">
            {{item.content}}
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="form-container">
    <div class="form-group">
      <div class="input-group">
        <div class="label">Username</div>
        <input name="username" type="text" [(ngModel)]="newUser.username" />
        <div class="helper-label">Insert a username to be used to log in.</div>
      </div>
      <div class="input-group">
        <div class="label">City</div>
        <input name="city" type="text" [(ngModel)]="newUser.address.city" />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="label">Name</div>
        <input name="name" type="text" [(ngModel)]="newUser.name" />
        <div class="helper-label">How would you like us to address you?</div>
      </div>
      <div class="input-group">
        <div class="label">Ride In Group?</div>
        <div class="input-row">
            <div class="input-cell" *ngFor="let option of rideInGroup">
                <div class="radio-btn selectable" [ngClass]="{'selected': isRideOptionSelected(option)}" (click)="setRideInGroupOption(option)">
                    <fa-icon class="selected-icon lg" [icon]="circleIcon"></fa-icon>
                </div>
                <div class="input-cell-label">{{option}}</div>
            </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="label">E-mail</div>
        <input name="email" type="text" [(ngModel)]="newUser.email" />
        <div class="helper-label">Insert a valid E-mail so we can contact you</div>
      </div>
      <div class="input-group">
        <div class="label">Days of the Week</div>
        <div class="input-row">
            <div class="input-cell" *ngFor="let day of daysOfTheWeek">
                <div class="check-box selectable" [ngClass]="{'selected': isDaySelected(day)}" (click)="toggleDayOfTheWeek(day)">
                    <fa-icon class="selected-icon" [icon]="checkIcon"></fa-icon>
                </div>
                <div class="input-cell-label">{{day}}</div>
            </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success" [disabled]="!isFormValid()" (click)="createUser()" type="input">Save</button>
      <button class="btn btn-secondary "type="input" (click)="resetUser()">Discard</button>
    </div>
  </div>
</div>